<div class="col-lg-12 services-bg" style="min-height: 400px; padding: 0">
    <div class="container" style="padding: 20px;">
        <div class="col-lg-8 col-lg-offset-2 contact-form-bg">
            <h3 class="col-lg-12 text-center" style="padding: 30px;">
                <strong>Frequently asked questions</strong>
            </h3>
            <table class="table">
                <tbody>
                    {{#each articles}}
                        <tr>
                            <div class="col-lg-12">
                                <h4 data-toggle="collapse" data-target="#{{this.id}}">{{this.headline}}
                                    <span class="btn btn-sm glyphicon glyphicon-triangle-bottom" data-toggle="collapse" data-target="#{{this.id}}">
                                    </span>
                                </h4>
                                <div id="{{this.id}}" class="collapse">
                                    <h5 data-toggle="collapse">
                                        {{this.content}}
                                    </h5>
                                </div>
                                <hr class="col-lg-11" style="height: 1px; background-color: #000000">
                            </div>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="container" style="padding: 20px;">
                <div class="col-lg-12" style="align-items: center; display: flex; justify-content: center">
                    <ul class="pagination pagination-sm">
                        <li>
                            <a class="btn btn-xs bg-default" style="margin: 10px;" href="/admin/articles?page={{pagination.previous}}">
                                <span class="glyphicon glyphicon-arrow-left"> </span>
                            </a>
                        </li>
                        <li>
                            <a style="margin: 10px;" href="#">{{pagination.current}} / {{pagination.max}}</a>
                        </li>
                        <li>
                            <a class="btn btn-xs bg-default" style="margin: 10px;" href="/admin/articles?page={{pagination.next}}">
                                <span class="glyphicon glyphicon-arrow-right"> </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
